.Rproj.user
.Rhistory
.RData
Workshop_IntroR.Rproj
*.docx
*.html
*.pdf
*.png
*.sav
.DS_Store
figure
*.log
*.nav
*.snm
*.gz
*slides.tex
*concordance.tex
*.toc
*.vrb
*.csv
workshop1_slides.R
data
workshop2lm_slides.R
workshop1_slides.Rnw
